.account-window{

	.nav-tabs{
	//	border-bottom: var(--bs-nav-tabs-border-width) solid $salmon_color;
	box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	border-bottom: none;

		.nav-link {
			background-color: white;
			background-image: linear-gradient(315deg, $first_col 10%, $second_col 80%, rgba(255,255,255,1) 1%);
		border:none;
			border-radius: 10px 10px 0px 0px;
			color: white;
			min-width: 200px;
			height: 50px;
			transition: 0.5s;
			overflow-x: hidden;
			font-size: var(--main_size);
			box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset, inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
			&:hover{
transform: scaleX(1.1);
			}
			&:active{
				transform: scaleX(0.9);
							}
		}
		.active{
			box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
			color: $salmon_color !important;
			font-weight: normal;
			border: none;
overflow: hidden;
			border-left: none;
			//border-top: 1px solid $salmon_color;
			background-color: white;
			background-image: linear-gradient(315deg, rgba(255,255,255,1) 80%, $first_col 80%, $second_col 80%);
		}
	}
		}
.account-window-tab{
	padding-top: 30px;
    padding-bottom: 30px;
	overflow: hidden;
	input, textarea{
		//border: 2px solid $salmon_color;
		margin-left: 5px;
		border-radius: 10px;
		&:focus, &:hover {
			border-color: $light_color;
			outline: 0;
			box-shadow: 0 0 0 0.25rem $light_color;
		}
	}

	.tab-pane{
		color: $font_color !important;
		.account-window-tab-container{
			display: flex;
			.col-sm-11{
				width: 93.5%;
			}
		}
		.account-window-tab-flex{
			width: 100%;
			display: flex;
    flex-direction: column;
	.file-upload{
		min-width: 150px;
		img{
			width: 25px !important;
			margin-left: 7px;
			margin-bottom: 4px;
		}
	}
	.col-form-label{
		color: $font_color;
		font-weight: normal;
		margin-left: 5px;
	}

		}
		.input-group{
			margin-top: 1rem;
			.form-control{
				width: 83.3%;
				flex: 0 0 auto;
			}
		}
		.dropdown-toggle{
			border: none;
		background-color: $salmon_color;
		color: white;
		}
		.index-window-panel-add{
			margin-top: 30px;
			display: flex;
			.account-window-tab-flex{
				width: auto;
				margin-right: 30px;
				.form-label{
					text-align: center;
					img{
						width: 30px;
					}
				}
			}
			.index-window-panel-add-button{
				margin-right: 30px;
			}
			.window-buttons-action{
                max-width: 60px;
                width: 100%;
                margin-right: 10px;
                span{
                    width: 60px;
               // height: 60px;
                background-size: 100%;
                }
                img{
                    width: 30px;
                }
            }
				}
	}
	.account-window-tab-company{
		color:$font_color;
&:first-child{
	margin-bottom: 30px;
	font-size: var(--main_size) !important;
	.account-window-tab-company-variable{
		input{
			font-size: var(--main_size) !important;
	
		}
	}
	.account-window-tab-company-title{
		margin-top: 14px;
	}
		}
		input, textarea{
border:none;
		}
		.account-window-tab-company-title{
			color:$salmon_color;
			font-weight:normal;
			margin-top: 5px;
		}
		.account-window-tab-company-variable{
font-weight: normal;
		}
		.account-window-tab-company-button{
			border:none;
			background: transparent;
		}
	}
	.index-window-panel-add{
		margin-top: 15px;
	}
	.account-window-tab-current{
		display: flex;
    font-weight: normal;
	justify-content: center;
	font-size: var(--main_size);
	.account-window-tab-current-variable{
		color: $salmon_color;
	
	}
	}
	.account-window-tab-ul{
		margin-top:30px;
	//	.account-window-tab-tariff-ul-li{
	//		padding:20px;
	//		box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
	//		 a{
	//			background-image: linear-gradient(320deg, white 88%, #002f4b8f 80%, #dc432598 80%);
	//		}
		//	&:nth-child(2) a{
		//		background-image: linear-gradient(320deg, white 88%, #002f4b8f 80%, #25dcab98 80%);
		//	}
		//	&:nth-child(3) a{
		//		background-image: linear-gradient(320deg, white 88%, #002f4b8f 80%, #9925dc98 80%);
		//	}
	//	}
	}
	.account-window-tab-tariff-ul{
		margin-top:40px;
		justify-content: space-between;
		padding-right: 20px;
		padding-left: 20px;
	.col-4{
		width: 31%;
	}
	.account-window-tab-tariff-ul-li{
		
	//	box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
		 a{
			background-image: linear-gradient(320deg, white 90%, #002f4b8f 80%, #dc432598 80%);
		}
		&:nth-child(2) a{
			background-image: linear-gradient(320deg, white 90%, #002f4b8f 80%, #002f4b8f 80%);
	}
		&:nth-child(3) a{
			background-image: linear-gradient(320deg, white 90%, #002f4b8f 80%, #deb00998 80%);
		}
	}
		.account-window-tab-tariff-ul-li a{
			border-radius: 10px;
			box-shadow: 0px 0px 9px 1px rgba(34, 60, 80, 0.2);
			//background-color: white;
			padding: 20px;
			display: block;
			color:$font_color !important;
			
			transition: 0.5s;
			display: flex;
    flex-direction: column;
    height: 100%;
	
	.card-flex{
		flex:1;
	}
			&:hover{
				transform: (scale(1.05));
			}
			&:active{
				transform: (scale(0.95));
			}
			.account-window-tab-tariff-time{
				border: none;
    background-image: none;
    text-align: center;
    padding-right: 1rem;
    font-size: var(--main_size);
    font-weight: normal;
    cursor: pointer;
	&:hover, &:active{
		&:focus, &:hover {
			border-color: $light_color;
			outline: 0;
			box-shadow: 0 0 0 0.25rem $light_color;
		}
	}
			}
			.account-window-tab-tariff-price{
				padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
	border-bottom: 1px solid #80808046;

	.account-window-tab-tariff-price-sum{
		font-size: var(--h_size);
    color: $salmon_color;
	font-weight: normal;
	text-align: center;
	}
	.account-window-tab-tariff-price-val{
		font-weight: normal;
	}
			}
			.account-window-tab-tariff-preference{
				.account-window-tab-tariff-preference-li{
					display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
	align-items: center;
	position: relative;
.account-window-tab-tariff-preference-li-b{
//	white-space: nowrap;
text-align: end;
}
	.account-window-tab-tariff-preference-li-span{
		font-weight: normal;
		text-align: start;
		padding-right: 60px;
	}
				}
			}
			.account-window-tab-tariff-btn{
				margin-top: 20px;
				display: block;
    margin-right: auto;
    margin-left: auto;
			}
		}


	}

	}

.yes::after{
	content: "+";
    position: absolute;
    height: 15px;
    width: 15px;
    top: center;
    top: -5px;
    right: 0;
    background: #00ff00;
    color: white;
    border-radius: 100%;
    /* text-align: center; */
    /* margin-bottom: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.no, .yes{
	position: relative;
}
.no::after{
	content: "-";
    position: absolute;
    height: 15px;
    width: 15px;
    top: center;
    top: -5px;
    right: 0;
    background: red;
    color: white;
    border-radius: 100%;
    /* text-align: center; */
    /* margin-bottom: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-staff{
	padding-top: 30px;
	.account-staff-number{
		color: $font_color;
		display: block;
		margin-bottom: 30px;
	}
}
.account-company-footer{
	display: flex;
    justify-content: space-between;
    margin-top: 30px;
	.index-window-panel-add{
		margin-top:0 !important;
		button:first-child{
			min-width: 150px;
		}
	}
}
