.tab-pane{
    position: relative;
}
.stat1{
    background-image: linear-gradient(35deg, #ffffff00 80%, #ff2a0000 80%, #ff0000 80%);
    background-image: url(../img/stat1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 10%;
    background-position-x: 95%;
    background-position-y: 15%;
}
.stat2{
    background-image: linear-gradient(35deg, #ffffff00 80%, #ff2a0000 80%, yellow 80%);
    background-image: url(../img/stat3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 10%;
    background-position-x: 95%;
    background-position-y: 15%;
}
.stat3{
    background-image: linear-gradient(35deg, #ffffff00 80%, #ff2a0000 80%, #00ff00 80%);
    background-image: url(../img/stat2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 10%;
    background-position-x: 95%;
    background-position-y: 15%;
}


.window-buttons{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row-reverse;
    .window-buttons-flex{
        display: flex;
        .window-buttons-add{
            min-width: 150px;
    margin-right: 10px;
        }
        .window-buttons-group{
            display: flex;
            .window-buttons-action{
                max-width: 60px;
                width: 100%;
                margin-right: 10px;
                span{
                    width: 60px;
               // height: 60px;
                background-size: 100%;
                }
                img{
                    width: 30px;
                }
            }
        }
    }
    .window-buttons-select{
        display: flex;

        .btn-8::after{
            top: 50%;
            right: 10%;
            background: TRANSPARENT;
        }
        .dropdown-toggle{
            background-color: #f0ecfc;
            min-width: 150px;
            &:hover{
                background-color: transparent;
            }
            &:hover::after{
                width: 98%;
                 display: inline-block; 
         margin-left: unset;
         vertical-align: unset;
       border:none;
       top:unset;
       right:0;
       background: #002f4b8f;
    }
        }
        ul{
            box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
            border: none;
            width: 100%;
            li{
                padding:5px 10px 5px 10px;
                &:hover{
                    background-image: linear-gradient(45deg, white 87%, #f4dac980 0%);
                }
            }
            a{
                color:$font_color !important;
                font-weight: normal;
            }
        }
    }
}
.tab-pane{

    .position-item{
        left: 170px;
    }
}
#lnb{
    margin-top: 30px;
}

.dataTables_wrapper{
    position: relative;
    margin-top: -20px;
    .dataTables_filter{
        float: unset;
        text-align: unset;
        margin-top: 15px;
        label{
            color: white;
            input{
                border-radius: 10px;
                &:hover, &:focus{
                    border-color: $light_color;
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem $light_color;
                }
            }
        }
    }
    .dataTables_length{
        position: absolute;
    right: 0;
    top: 30px;
    font-weight: normal;
    margin-top: 15px;
    select{
        border-radius: 10px;
        &:hover, &:focus{
            border-color: $light_color;
			outline: 0;
			box-shadow: 0 0 0 0.25rem $light_color;
        }
    }
    }
    .dataTables_info{
        display: none;
    }

    .table{
        width: 100%;
        margin-top: 30px;
            margin-bottom: 20px;
        --bs-table-border-color: #e5e5e5;
        tbody{

            font-weight: normal;
            background-color: white;
        background-image: linear-gradient(35deg, rgb(255, 255, 255) 80%, $first_col 80%, $second_col 80%);
        }
        th{
            border-bottom: 1px solid $gray_color;
        }
        a{
            color: $font_color !important;
            &:hover{
                text-decoration: underline;
                color:$salmon_color !important;
            }
           
        }
        .selected{
            background-color: $salmon_color;
            a{
                color:white !important;
            }
            & > *{
box-shadow:none;
            }
        }
       .table-btn{
        width: 25px;
        height: 25px;
       // border-radius: 100%;
        margin: auto;
        display: block;
        border:none;
        background-color: transparent;
        background-color: $salmon_color;
        border-radius: 100%;
        img{
            width: 100%;
            object-fit: cover;
            margin-bottom: 25px;
        }
       }
    }
.docs-table{
    .table-btn{
        background-color: transparent;
    }
}
    .dataTables_paginate {
    display: flex;
    span{
        display: flex;
    }
    .paginate-button{
        margin-left:0px !important;
    }
    .paginate_button:hover{
        background: none;
        color:$salmon_color !important;
        background-color: none;
        border: 1px solid $gray_color !important;
    }   
     .paginate_button:active{
        background: none;
        color:$salmon_color !important;
        background-color: none;
        border: 1px solid $gray_color !important;
    }
    a{
        border: 1px solid $gray_color !important;
        font-weight: normal;
        &:hover{
            background: none;
            color:$salmon_color;
        }
    }
    .previous{
    border-radius: 10px 0px 0px 10px;
    }
    .next{
        border-radius: 0px 10px 10px 0px;
    }
 .current{
        line-height: 50px;
        width: 100%;
        text-align: center;
        height: 50px;
        border-radius: 10px;
        padding: 10px 25px;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255,0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        outline: none;
        background-color: #f0ecfc !important;
    background-image: linear-gradient(315deg, rgba(0, 48, 77, 0.561) 0%, rgba(220, 67, 37, 0.596) 54%) !important;
    padding: 0;
    border: none !important;
        width: 45px;
        height: 45px;
        /* margin: auto; */
        color: white !important;
        /* padding-bottom: 5px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color:white !important;
    &:active{
        background-color: unset;
        background: unset;
        box-shadow: none;
    }
    &:hover{
        color:white !important;
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
margin-left:0px;
}
table.dataTable.no-footer {
    border-bottom: none;
}

.template-container{
    margin-top: 30px;
    li{
        margin-bottom: 30px;
        border-radius: 0px 0px 10px 0px;
    }
    .template-link{
            flex-direction: column;
    height: 1;
    display: flex;
    color: $font_color !important;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    transition: 0.5s;
    &:hover{
        transform: scale(1.05);
    }
    &:focus{
        transform: scale(0.95);
    }
    img{
        width: 100%;
        object-fit: cover;
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
        margin-bottom: 15px;
        flex: 1;
        transition: 0.5s;
        overflow: hidden;
        border-radius: 0px 10px 0px 0px;
        &:hover{
            transform: scale(1.05);
        }
        &:focus{
            transform: scale(0.95);
        }

    }
    span{
        font-size: 16px;
        font-weight: normal;
        display: block;
        text-align: center;
    }
    &::after{
        content: "";
        position: absolute;
        background: transparent;
        background-image: linear-gradient(45deg, #ffffff00 80%, #002f4b8f 80%, #dc432598 80%);
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: 10px;
    
    }
    }
}
.template-pag{
    a{
        font-weight: normal;
    }
}
.modal-add{
    .modal-header{
        border-bottom: none;
        color: $salmon_color;

    }
    .account-window-tab-container{
        display: flex;
        flex-direction: column;
        .col-form-label{
            margin-left: 10px;
        }
        .account-window-tab-flex{
            width: 100%;
            margin-right: 10px;
        }
        .dropdown-toggle{
            min-width: 150px;
        }
        .modal-radio{
            margin-left: 10px;
        }
        .form-check-input:focus {
            border-color: $light_color;
			outline: 0;
			box-shadow: 0 0 0 0.25rem $light_color;
    }
    .form-check-input:checked {
        background-color: $salmon_color;
         border-color: $salmon_color; 
    }
}
    .modal-footer{
        border-top: none;
        justify-content: flex-start;
        .window-buttons-add{
            max-width: 150px;
        }
    }

}
.modal-sent{
    .sent-select{
        margin-bottom: 0px !important;
        margin-right: 0px !important;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    select{
        height: 50px;
        &:focus, &:hover {
			border-color: $light_color;
			outline: 0;
			box-shadow: 0 0 0 0.25rem $light_color;
		}
    }

}