*{
    margin:0;
    padding:0;


}
body{
    height: 100vh;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('http://unsplash.it/1200x800') center center no-repeat;
    background: linear-gradient(-45deg, #002f4ba0, #dc43256e);
    background-size: cover;
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.opacity{
    opacity:0.9;
}

    .offcanvas-body{
        font-size: var(--main_size);
    }

    .box-edit{
      box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
      .offcanvas-header{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-bottom: 0;
          max-height: 100%;
          height:100%;
    min-height: 30%;
          .offcanvas-title{
              font-size: 35px ;
              font-weight:normal;
      margin-bottom: 10px;
          }
          .form-sud{
              margin-bottom: 10px;
              min-height: 50px;
     // height: 30px;
          }
          .form-fio{
            margin-top:30px;
          }
          .form-button-group{
              display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;
      input:nth-child(2){
        margin-left:10px;
      }
      input:nth-child(3){
        margin-left:10px;
      }
      .form-date{
          width: 100%;
      }
      .form-button-select{
          display: flex;
          width: 100%;
          .dropdown{
            //  margin-left: 10px;
            &:nth-child(2){
              margin-left: 10px;
            }
              width: 100%;
              &:nth-child(2) .dropdown-toggle{
                min-width: 125px;
              
              }
              .btn-8::after{
                top: 50%;
                right: 10%;
                background: TRANSPARENT;
            }
            .dropdown-toggle{
              background-color: #f0ecfc;
              min-width: 100px;
              position: relative;

              &:hover{
                  background-color: transparent;
              }
              &:hover::after{
                  width: 98%;
                   display: inline-block; 
           margin-left: unset;
           vertical-align: unset;
         border:none;
         top:unset;
         right:0;
         background: #002f4b8f;
      }
    }

              ul{
                box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
                border:none;
              }
              li{
                padding: 5px 10px 5px 10px;
                
                &:hover{
           
                    background-image: linear-gradient(45deg, white 87%, #f4dac980 0%);
              
                }
              }
          }
      }
          }
          .form-textarea{
              margin-bottom: 10px;
              height:100%;
          }
          .form-button-group-panel{
              display: flex;
              align-items: center;
              .form-button-group-panel-item{
                  width: 25px;
      height: 25px;
      margin-left: 10px;
      border:none;
      background: transparent;
      transition: 0.5s;
      &:hover {
transform: scale(1.2);
      }
      &:active{
        transform: scale(0.8);
      }
      img{
          width: 100%;
      }
              }
          }
          .btn-close{
              position: absolute;
      right: 15px;
          }
      }
      .offcanvas-body{
          padding-top: 0;
      overflow-y: unset;
      position: relative;
      min-height: 35%;
      max-height: 100%;
      .form-history{
          font-size: 16px;
          .form-history-container{
              height: 200px;
              .form-history-scroll{
      position: absolute;
      top: 10px;
      right: 25px;
      left: 25px;
      bottom: 10px;
      overflow-x: hidden;
      overflow-y: auto;
      margin-bottom: 0;
      &::-webkit-scrollbar {

        width: 6px;
        }
        
        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-image: $gradient_color;
        }
        
        &::-webkit-scrollbar-track {
          border-radius: 4px;
          background-color: rgba(black,0.1);

        }
      li{
        display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    margin-left: 50px;
    margin-right: 10px;
    border-bottom: 1px solid $gray_color;
    .history-item:first-child span{
      color:$salmon_color;
    }
    .history-item:nth-child(2){
      color:$salmon_color;
      font-size: 14px;
    }
    &::before{
      content: "";
      background: salmon;
      width: 20px;
      height: 20px;
      left: -40px;
      position: absolute;
      border-radius: 100%;
      top: 50%;
    }
    &::after{
      content: "";
      background: salmon;
      width: 5px;
      height: 105%;
      left: -33px;
      position: absolute;
      border-radius: none;
      top: 0;
    }
      }
              }
          }
      }
      .form-comment{
          padding-top: 10px;
          position: fixed;
          bottom: 0;
          margin-bottom: 15px;
          width: var(--bs-offcanvas-width);
          background: white;
          .form-comment-textarea{
              margin-bottom: 10px;
              height: 100%;
              width: 90%;
              min-height: 100px;
          }
          .form-comment-btn{
              font-size: 16px;
          }
      }
      }
  }

ul{
    padding-left: 0;
    list-style-type: none;
}
.content{
    padding-right: $main_padding;
    padding-left: $main_padding;
}
.text-gradient-light-red {
    color: #7cd4c9;
    display: inline-block;
    background: $gradient_color;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: ease all 1000ms;
}
.text-gradient-light-red:hover{
   background: $gradient_color;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: ease all 1000ms;
}
.link-active::before{
    content:"";
    position: absolute;
    height: 100%;
    left: 0;
    width: 10px;
    background-color: #f0ecfc;
    background-image: $gradient_color;
}

.gradient-border{
  background-color: #f0ecfc;
  background-image: $gradient_color;
 padding: 2px;
 margin: 10px;
 border-radius: 10px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}


input{
 width: 98%;
 height: 50px;
 border-radius: 10px;
 border: 0;
 font-size: 18px;
 padding-left: 6px;
}
input[type="file"] {
  /*display: none;*/
}
.input-group-text{
  background: transparent;
  border: none;
  color:white;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  height: 50px;
  border:none;

}

input:focus{
 outline:none;
}



.link-active{
    //    background-color: rgb(244,218,201);
background-image: linear-gradient(45deg, #f4dac980 87%, rgba(255,255,255,1) 0%) !important;
//box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset !important;
      //  font-weight: bold;
        a{
            color:white !important;
        }
}
.active{
        color:white !important;
        font-weight: bold;
}
.dropdown-item{
  &:hover{
    background:transparent;
  }
  &:active{
    background:transparent;
  }
}
.tab-style{
  color: #fff;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
    outline: none;
}
.custom-btn {
  line-height: 50px;
  max-width: 190px;
  width: 100%;
  text-align: center;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-8 {
    background-color: #f0ecfc;
  background-image: linear-gradient(315deg, rgba(0, 48, 77, 0.561) 0%, rgba(220, 67, 37, 0.596) 54%);
    padding:0;
    border: none;
  }
  .btn-8 span {
    position: relative;
    display: block;
    max-width: 190px;
    width: 100%;
    height: 100%;
  }
  .btn-8:before,
  .btn-8:after{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #002f4b8f;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .btn-8:before{
     height: 0%;
     width: 2px;
  }
  .btn-8:after {
    width: 0%;
    height: 2px;
  }
  .btn-8:hover:before {
    height: 100%;
  }
  .btn-8:hover:after {
    width: 100%;
  }
  .btn-8:hover{
    background: transparent;
  }
  .btn-8 span:hover{
    color: #7cd4c9;
    display: inline-block;
    background: $gradient_color;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: ease all 1000ms;
  }
  .btn-8 span:before,
  .btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #dc43254d;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .btn-8 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-8 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-8 span:hover:before {
    height: 100%;
  }
  .btn-8 span:hover:after {
    width: 100%;
  }
  body::-webkit-scrollbar {
    //  height: 6px;
    width: 6px;
    }
    
    body::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-image: $gradient_color;
    }
    
    body::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: rgba(black,0.1);
   //   margin-left: 16px;
   //   margin-right: 16px;
    }
    .ball {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        border: 5px solid #dc432539;
        border-radius: 50%;
        pointer-events: none;
        z-index: 1056;
        display:block;
      }
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
select.active.focus,
select.active:focus,
select.focus,
select:active.focus,
select:active:focus,
select:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
    text-decoration: none;
}
a:hover {
    cursor: pointer !important;
    text-decoration: none;
    color: $font-color;
}
a {
    text-decoration: none;
    color: $font_color;
    cursor: pointer !important;
}

@media (max-width:768px){
    .link-active::before{
        content:unset;
    }
    .link-active{
        background-color: #f0ecfc;
        background-image: $gradient_color !important;
    }
}

