.search-container{
    margin-top: 50px;
    .search-card{
        display: block;
        border-radius: 10px;
        /* box-shadow: 0px -5px 5px -5px rgb(34 60 80 / 60%) inset; */
        box-shadow: 0px 0px 9px 1px rgba(34, 60, 80, 0.2);
        margin-bottom: 50px;
        .search-card-a{
            display: flex;
            transition: 0.5s;

        &:hover{
            transform: scale(1.025);
        }
        &:active{
            transform: scale(0.95);
        }
            .search-card-img{
                max-width: 300px;
                background: $salmon_color;
    border-radius: 10px 0px 0px 10px;
    position: relative;
                img{
                    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    display: block;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
                }
                &::after{
                    content: "";
                    position: absolute;
                    background: transparent;
                    background-image: linear-gradient(225deg, #ffffff00 80%, #002f4b8f 80%, #dc432598 80%);
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    border-radius: 10px;
                
                }
            }
            .search-card-content{
                color:  $font_color;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 50px;
    background-color: white;
    border-radius: 10px;
    background-image: linear-gradient(220deg, #002f4b8f 0%, #dc432598 15%, rgb(255, 255, 255) 10%);

    .search-card-content-h{
        font-size: 27px;
    margin-bottom: 30px;
    padding-right: 120px;
    }
    .search-card-content-text{
        margin-bottom: 30px;
        padding-right: 120px;
    flex: 1;
    }
    .search-card-content-func{
        display: flex;
    justify-content: space-between;
    color: $salmon_color;
    align-items: end;
    }
            }
        }
    }
}
.form-control{
    &:focus, &:hover {
        border-color: $light_color;
        outline: 0;
        box-shadow: 0 0 0 0.25rem $light_color;
    }
}
.btn-outline-success{
    width: 100px;
    img{
        width: 40px;
    }
}
.pagination{
    justify-content: flex-end;
    .page-link{
        color:$font_color !important;
        &:hover{
            background: transparent;
            color:$salmon_color !important;

        }
    }
    .active-p{
        line-height: 50px;
        max-width: 190px;
        width: 100%;
        text-align: center;
        height: 50px;
        color: #fff;
        border-radius: 10px;
        padding: 10px 25px;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255,0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        outline: none;
        background-color: #f0ecfc;
    background-image: linear-gradient(315deg, rgba(0, 48, 77, 0.561) 0%, rgba(220, 67, 37, 0.596) 54%);
    padding: 0;
    border: none;
        width: 40px;
        height: 39px;
        /* margin: auto; */
        color: white !important;
        /* padding-bottom: 5px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

    .accordion{
        margin-top: 30px;
        color:$font_color;
        .accordion-item{
            margin-bottom: 10px;
            border-radius: 10px;
            .accordion-button{
                background-image: linear-gradient(45deg, white 30%, #002f4b8f 86%, #dc432598 100%);
                border-radius: 10px;
               font-weight: bold;
              //  text-transform: uppercase;
            }
            .accordion-button:not(.collapsed){
                color:$font_color;
                background-color: unset;
            }
            .accordion-button::after {
                background-image: url(../img/accordion.png);
                //icon from icons8.ru
            }
        }
        .accordion-body{
            font-weight: normal;
        }
    }