
$salmon_color:#e4867c;
$font_color:#373736;
$main_padding:40px;
$gradient_color:linear-gradient(315deg, #002f4b8f 0%, #dc432598 54%);
$light_color:rgb(244, 218, 201);
$first_col:#002f4b8f;
$second_col:#dc432598;
$gray_color:#e5e5e5;
:root{

    --h_size:50px;
    --main_size:22px;
--big_size:27px;
}

@media (max-width:1024px) {
    :root{

        --h_size:35px;
        --main_size:18px;
        --big_size:22px;
    }


}